*
{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body
{
	width: 100%;
	height: 100%;
	background-color: #1A1A1A;
	font-family: 'Roboto', sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#content
{
	width: 1000px;

	padding: 5px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#flags
{
	align-self: flex-end;
}

#flags > img
{
	margin: 5px;
	cursor: pointer;
}

#form
{
	width: 100%;

	padding: 5px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

#form > input
{
	height: 30px;

	margin-right: 5px;
	padding: 0 5px;
	outline: 0;
	border-radius: 5px;
}

#name-input
{
	width: 240px;
}

#tag-input
{
	width: 75px;
}

#form > button
{
	width: 100px;
	
	border-radius: 5px;
	padding: 0 5px;
}

#title
{
	width: 100%;

	padding-left: 5px;
	margin-bottom: 10px;

	color: #ffffff;

	align-self: flex-start;
}

#matches-content
{
	width: 100%;

	overflow: hidden;
	max-height: 10000px;
	transition: max-height 1s ease-in-out;

	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#matches-loading
{
	width: 100%;

	color: #cccccc;
	text-align: center;
}

#error > h1
{
	color: #cccccc;
	text-align: center;
	margin-bottom: 5px;
}

.error-message
{
	color: #cccccc;
}

#navigation
{
	width: 100%;
	height: 50px;

	color: #cccccc;
	padding: 10px;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#navigation-selector
{
	height: 100%;
	
	padding-right: 10px;
}

#navigation-selector > button
{
	width: 50px;
	height: 100%;

	color: #aaaaaa;
	background-color: #dddddd;

	cursor: pointer;
}

#navigation-selector > button:disabled
{
	color: #000000;
	background-color:  #555555;

	cursor: not-allowed;
}

#navigation-selector :first-child
{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#navigation-selector > select
{
	width: 75px;
	height: 100%;
}

#navigation-selector :last-child
{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#navigation > select
{
	width: 75px;

	border-radius: 10px;
}

#matches
{
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.match
{
	width: 100%;

	margin-top: 25px;

	display: flex;
	flex-direction: column;
}

.date-time
{
	color: #cccccc;
}

.victory
{
	background: #416470;
	background: linear-gradient(90deg, #416470 0%, #383838 50%);
}

.defeat
{
	background: #6E4141;
	background: linear-gradient(90deg, #6E4141 0%, #383838 50%);
}

.match-preview
{
	width: 100%;
	height: 60px;

	color: #cccccc;
	background-color: #383838;
	margin-top: 5px;
	padding: 5px;
	border-radius: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	cursor: pointer;
}

.player-regions-champions
{
	width: 40%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.reverse-player-regions-champions
{
	align-items: flex-end;
}

.regions-champions
{
	display: flex;
	flex-direction: row;
}

.reverse-regions-champions
{
	flex-direction: row-reverse;
}

.regions
{
	margin-right: 10px;

	display: flex;
	flex-direction: row;
}

.reverse-regions
{
	margin-right: 0px;
	margin-left: 10px;
}

.region > img
{
	width: 48px;
}

.champions
{
	display: flex;
	flex-direction: row;
}

.champion > img
{
	width: 48px;

	border-radius: 24px;
}

.outcome-opponent
{
	width: 20%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.outcome
{
	font-size: 24px;
	font-weight: bold;
}

.match-details
{
	width: 100%;

	overflow: hidden;
	max-height: 10000px;
	transition: max-height 1s ease-in-out;

	padding: 10px;
	border: 2px solid #383838;
	border-radius: 10px;
}

.hide
{
	max-height: 0;
	pointer-events: none;

	padding: 0;
	border: 0;
}

.mode-type-turn-count
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	color: #cccccc;
}

.mode-type
{
	display: flex;
	flex-direction: column;
}

.copy-buttons
{
	width: 100%;

	padding: 5px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.player-copy-button
{
	width: 300px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.reverse-player-copy-button
{
	flex-direction: row-reverse;
}

.copy-button
{
	width: 25px;
	height: 25px;

	border-radius: 5px;
	padding: 1px;
}

.message
{
	color: #ffffff;

	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.hide-text
{
	opacity: 0;
	pointer-events: none;
}

.decks
{
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.name-token-deck
{
	width: 300px;

	display: flex;
	flex-direction: column;
}

.name-token
{
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.reverse-name-token
{
	flex-direction: row-reverse;
}

.name
{
	font-size: 24px;
	color: #cccccc;
}

.token
{
	height: 30px;
}

.deck
{
	color: #cccccc;
}

.category
{
	padding-top: 10px;
	padding-bottom: 5px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.category > img
{
	height: 24px;
}

.sum-qties
{
	font-weight: bold;
}

.card
{
	width: 100%;
	height: 40px;

	color: #ffffff;

	border-radius: 20px;
	margin-bottom: 5px;
	padding: 5px 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-images
{
	width: 600px;

	position: absolute;
	margin-left: 300px;
	margin-top: -25px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-images > img
{
	width: 50%;
}

.reverse-card-images
{
	margin-left: -600px;
	justify-content: flex-end;
}

.hide-card-images
{
	opacity: 0;
}

.mana-nome
{
	width: 90%;

	display: flex;
	flex-direction: row;
}

.mana
{
	font-weight: bold;

	padding-right: 10px;
}

.card-name
{
	font-size: 18px;
	text-shadow: 1px 1px 5px #000000;
}

.qty
{
	width: 10%;

	background-color: #484646;
	padding: 5px;
	border-radius: 15px;

	text-align: center;
}

